@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    touch-action: none; /* Disable default touch actions */
}

.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    background: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    height: 95%;
}

canvas {
    border: 2px solid #eee;
    border-radius: 10px;
    cursor: pointer;
    flex-grow: 1;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; /* Ensure canvas is always square */
    max-height: 100%; /* Prevent canvas from overflowing its container vertically */
    touch-action: none; /* Disable default touch actions */
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.controls button {
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.1s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.controls button:active {
    transform: scale(0.95);
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 1.1em;
    font-weight: 700;
}

#figure-name {
    color: #4CAF50;
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 5px;
    height: 40px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.7);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 10px 20px rgba(76, 175, 80, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
    }
}

.pulsate {
    animation: pulse 1.5s infinite;
}